.list {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 15px;
    color: #4a4a4a;
    text-transform: uppercase;
    padding: 0px;
}

.total {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 15px;
    color: #433939;
    text-transform: uppercase;
}

.feedback {
    display: block;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
    font-size: 15px;
    color: #868f3e;
    text-transform: uppercase;
}